$light: #fff;
$primary-color: #ea5a00;
$secondary-color: #b43092;
$success: #1bbb1b;
$black: #000;
$alert:#c81e0f;
$border-color:#dedede;
$primary-font:'Roboto', sans-serif;
$secondary-font:'Volkhov', serif;
$icon-font: 'themefisher-font';